*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.flex{
    display: flex;
}

main{
    width: 100%;
    height: 100vh;
}

li{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

ul{
    align-items: center;
}

.icons{
    padding-right: 5px;
}

nav{
    width: 30%;
    border-right: 1px solid gray;
    font-family: Verdana, Tahoma, sans-serif;
}